<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle">
	<channel>
		<title><%= appcast.name %></title>
		<link><%= appcast.url %></link>
		<description><%= appcast.description %></description>
		<language><%= appcast.language %></language>
		<% for version in versions %>
		<item>
			<title><%= version.title %></title>
			<description><![CDATA[
				<%= version.description %>
				]]></description>
			<sparkle:minimumSystemVersion><%= version.minimumSystemVersion %></sparkle:minimumSystemVersion>
			<pubDate><% version.pubDate %></pubDate>
			<enclosure url="<%= settings.base_url %>/download/<%= appcast._id %>/<%= version._id %>" sparkle:version="<%= version.versionNumber %>" sparkle:shortVersionString="<%= version.versionString %>" length="<%= version.binary_file_size %>" type="application/octet-stream"/>
		</item>
		<% end %>
	</channel>
</rss>