<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle">
	<channel>
		<title><%= appcast.name %></title>
		<link><%= appcast.url %></link>
		<description><%= appcast.description %></description>
		<language><%= appcast.language %></language>
		<% for item in appcast.items %>
		<item>
			<title><%= item.title %></title>
			<description><![CDATA[
				<%= item.description %>
				]]></description>
			<sparkle:minimumSystemVersion><%= item.minimumSystemVersion %></sparkle:minimumSystemVersion>
			<pubDate><% item.pubDate %></pubDate>
			<enclosure url="<%= item.url %>" sparkle:version="<%= item.versionNumber %>" sparkle:shortVersionString="<%= item.versionString %>" length="<%= item.size %>" type="application/octet-stream"/>
		</item>
		<% end %>
	</channel>
</rss>